# Tutorial: O básico do Python
Este tutorial tem como objetivo apresentar uma ideia geral do Python.

## Atalhos do jupyter notebook
Digite o valor numa célula.

Precione ESC (de forma que a celular troque de cor do verde para azul).

Precione m para a célula se tornar um Markdown ou y para se tornar Codigo.

Prescine b para inserir nova célular abaixo, ou precione a para inserir nova célula acima.

Para excluir uma célula, clique na célula de forma a ela estar na cor azul. Depois precione duas vezes o botão d.

Para executar uma linha de comando, precione shift + enter

## Tipos de variaveis

As variáveis no Python são diferenciadas em grupos, sendo eles
* inter = numeros inteiros
* floot = numeros com casas decimais
* str = texto
* bool = Verdadeiro ou Falso

Você pode conferir o tipo de uma variável pelos seguintes comandos

In [1]:
type(10)

int

In [2]:
type(10.5)

float

In [3]:
type("Texto")

str

In [4]:
type(True)

bool

Para converter uma variável em outra, basta usar as funções:

In [5]:
float(5) # vai transformar o 5 em numero com casa decimais

5.0

In [6]:
str(100) # vai transformar o numero 100 em um texto escrito '100'

'100'

## Operações matemáticas básicas

In [7]:
3 + 2 # Soma

5

In [8]:
3 - 2 # Subtração

1

In [9]:
3 / 3  # Divisão

1.0

In [10]:
1 // 5  # Pega o valor inteiro de uma divisão

0

In [11]:
3 // 4 # Pega o valor inteiro de uma divisão

0

In [12]:
3 * 2 # Multiplicação

6

In [13]:
2 ** 3 # Potencia

8

In [14]:
pow(2,3) # Funcao que tambem calcula potencia

8

In [15]:
abs(-5) # abs(x) Módulos

5

In [16]:
max(1,2,3) #	Valor máximo observado nesse conjunto de dados

3

In [17]:
min(1,2,3) #	Valor mínimo observado nesse conjunto de dados

1

In [18]:
round(3.14159, 2) # Arredondamento

3.14

In [19]:
len([1,3,5,7,9,11]) # Quantos elementos tem nesse conjunto de dados

6

In [20]:
len("Texto") # quantos caracteres tem nesse texto

5

In [21]:
# OBS: no Python você pode fazer duas contas numa mesma linha de comando
8+9,10+2

(17, 12)

Observações: no R potência é dada pelo codigo ^, mas no Python ^ é uma função de bitwise https://stackoverflow.com/questions/15193927/what-do-these-operators-mean

## Objetos

### Criar objeto

In [22]:
objeto1 = 50

In [23]:
objeto1

50

In [24]:
objeto1 = 21
objeto1

21

Strings podem ser declaradas tanto com aspas simples como duplas, veja:

In [25]:
objeto2 = 'TEXTO'
objeto2

'TEXTO'

In [26]:
objeto3 = "TEXTO"
objeto3

'TEXTO'

Se você quiser inserir uma string que contenha ' e/ou ", você pode usar o caracter de escape \ para que o python não interprete o simbolo como fim da string

In [27]:
objeto3 = 'Mariane\'s boyfriend said: "pizza is better than pasta".'
print(objeto3)

Mariane's boyfriend said: "pizza is better than pasta".

In [28]:
objeto3 # OBS: note que dentro do objeto o \' foi guardado para manter a informação de que o ' não é o fim da string

'Mariane\'s boyfriend said: "pizza is better than pasta".'

In [29]:
objeto3 = "Texto "+ "de "+ "referencia" # Concatenação de textos
objeto3

'Texto de referencia'

In [30]:
objeto3 = "Texto | "*5 # Concatenação de textos por multiplicação
objeto3

'Texto | Texto | Texto | Texto | Texto | '

In [31]:
objeto3 = "Texto | "*4 + "Texto" # Concatenação de textos por multiplicação
objeto3

'Texto | Texto | Texto | Texto | Texto'

Você pode usar a concatenação para combinar dados de uma variável numerica, com um texto para ser apresentado ao usuário:

In [32]:
precoGasolina = 5.5
print("O preço da gasolina é " + str(precoGasolina))

O preço da gasolina é 5.5

Existe uma maneira mais simples de agrupar textos e numeros em strings, que é  uso do format

In [33]:
precoAlcool = 4
print("O preço da gasolina é {:.2f} e o preço do alcool é {:.2f} ".format(precoGasolina,precoAlcool))

O preço da gasolina é 5.50 e o preço do alcool é 4.00

In [34]:
f'O preço da gasolina é {precoGasolina:.2f} e o preço do alcool é {precoAlcool:.2f}'# Forma alternativa de fazer o mesmo format

'O preço da gasolina é 5.50 e o preço do alcool é 4.00'

In [35]:
objeto4 = [1,1,2,5,8,50] # Lista de número
objeto4

[1, 1, 2, 5, 8, 50]

In [36]:
objeto5=["Ana","Bruno","Carlos","Daniele"] # Lista de textos
objeto5

['Ana', 'Bruno', 'Carlos', 'Daniele']

In [37]:
"Ana"in objeto5

True

In [38]:
"Pedro"in objeto5

False

In [39]:
objeto6 = [True,False,False,True]
objeto6

[True, False, False, True]

In [40]:
objeto7 = range(0,20,2) # start, stop, step
objeto7

range(0, 20, 2)

In [41]:
list(objeto7)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [42]:
sum(objeto7)

90

In [43]:
objeto8 = ["A"] * 3 # Repete "A" 3 vezes
objeto8

['A', 'A', 'A']

# Manipulação de string
Nessa secção vamos aprender ver algumas manipulações de strin

In [44]:
objeto2 = '                  TExto de referencia                  '
objeto2

'                  TExto de referencia                  '

In [45]:
objeto2=objeto2.strip() # Remove os ESPAÇOS no inicio e fim da String
objeto2

'TExto de referencia'

In [46]:
objeto2.title()  # Primeira letra de cada palavra em maiúscula e o restante minúscula

'Texto De Referencia'

In [47]:
objeto2.capitalize() # Primeira letra maiúscula e o restante minúscula

'Texto de referencia'

In [48]:
objeto2.lower() # string inteira em minúscula

'texto de referencia'

In [49]:
objeto2.upper() # string inteira em  maiúscula

'TEXTO DE REFERENCIA'

In [50]:
objeto2.replace('T', 'A') # substitui a primeira substring pela segunda

'AExto de referencia'

### Manipular dados dentro de objeto
O Python possui uma estrutura de organização de dados chamada de indexação de base zero. Ou seja, o primeiro elemento recebe o indice de zero, o segundo indice 1, e assim por diante...

In [51]:
len(objeto5) # Quantos elementos tem dentro dessa lista

4

In [52]:
objeto5 # lembre o que tem dentro do objeto 5

['Ana', 'Bruno', 'Carlos', 'Daniele']

In [53]:
objeto5[3] # Mostre o 4th elementdo da lista, o primeiro elemento é contado como numero zero

'Daniele'

In [54]:
objeto5[-1] # Mostre o ultimo elemento da lista

'Daniele'

In [55]:
objeto5[-2] # Mostre o penultimo elemento da lista

'Carlos'

In [56]:
objeto5[1:3] # Mostre os nome na posição 1 e 2

['Bruno', 'Carlos']

In [57]:
objeto5[1:] # Mostre os nome na posição 2 até o final da lista

['Bruno', 'Carlos', 'Daniele']

In [58]:
objeto5[:3] # Mostre os nome até a posição 2 da final

['Ana', 'Bruno', 'Carlos']

In [59]:
objeto5[::2] # Mostre os nomes pulando de 2 em 2

['Ana', 'Carlos']

In [60]:
objeto5[::-1] # Inverte a apresentação dos nomes

['Daniele', 'Carlos', 'Bruno', 'Ana']

Uma função interessante é o split, pega dados em uma string e separa elas. Para demonstrar como isso funciona, suponha que o objeto5 foi declarado da seguinte forma:

In [61]:
objeto5 = 'Ana, Bruno, Carlos, Daniele'
objeto5 # Veja que temos 1 string com todos os nomes

'Ana, Bruno, Carlos, Daniele'

In [62]:
objeto5 = objeto5.split(', ') # Aqui informamos qual é a combinação de caracteres que deve ser lida como um bloco de separação. Se você não especificar o default é usar ESPAÇO como referência para separação
objeto5

['Ana', 'Bruno', 'Carlos', 'Daniele']

In [63]:
objeto2[2] # Mostre a 3th letra da palavra salva no string

'x'

In [64]:
objeto2[0] # Mostre a 1th letra da palavra salva no string

'T'

In [65]:
objeto5[3] = "Eliana" # Substituir elementos
objeto5

['Ana', 'Bruno', 'Carlos', 'Eliana']

In [66]:
objeto5.index("Carlos") # mostra qual é a posição do "Carlos" na lista

2

In [67]:
objeto5.sort(reverse=True) # Ordenar
objeto5

['Eliana', 'Carlos', 'Bruno', 'Ana']

### Apagar elementos de um objeto

In [68]:
del objeto5[1]
objeto5 # note que agora o 2th foi atualizado

['Eliana', 'Bruno', 'Ana']

In [69]:
objeto5.append("Fabio") # Adicionar 1 elemento
objeto5

['Eliana', 'Bruno', 'Ana', 'Fabio']

In [70]:
objeto5.extend(["Gabriel","Humberto"]) # Adicionar 2 ou mais elementos
objeto5

['Eliana', 'Bruno', 'Ana', 'Fabio', 'Gabriel', 'Humberto']

In [71]:
objeto5.count("Ana")

1

### Fatiar dados de um objeto (Slicing)

In [72]:
objeto5[2:4] # O primeiro numero representa o elemento que queremos. O segundo numero uma posição depois do ultimo elemento que queremos (exemplo, você que o numero na posição 7, então você tem que colcoar 8).

['Ana', 'Fabio']

In [73]:
objeto5[:4] # Se você quiser os elementos de uma sequencia, basta não digitar nenhum numero antes do :

['Eliana', 'Bruno', 'Ana', 'Fabio']

In [74]:
objeto5[4:] # Se você quiser pegar todos os elementos da posição 4 pra frente

['Gabriel', 'Humberto']

In [75]:
objeto5[-2:] # Se você quiser pegar os ultimo x elementos (no exemplo, os dois ultimos)

['Gabriel', 'Humberto']

In [76]:
# Combinar listas
objeto11 = ["Icaro","Joao","Katy"]
objeto11

['Icaro', 'Joao', 'Katy']

In [77]:
objeto5

['Eliana', 'Bruno', 'Ana', 'Fabio', 'Gabriel', 'Humberto']

In [78]:
objeto12 = [objeto5, objeto11]
objeto12

[['Eliana', 'Bruno', 'Ana', 'Fabio', 'Gabriel', 'Humberto'],
 ['Icaro', 'Joao', 'Katy']]

In [79]:
objeto13 = [] # Criar uma lista vazia
objeto13

[]

In [80]:
objeto13.append('NovoDado1') # Adiciona novos elementos
objeto13.append('NovoDado2')
objeto13.append('NovoDado3')
objeto13

['NovoDado1', 'NovoDado2', 'NovoDado3']

In [81]:
objeto13.insert(1,'NovoDado4') # Adiciona o novo dado na posição 1, e desloca os outro para direita
objeto13

['NovoDado1', 'NovoDado4', 'NovoDado2', 'NovoDado3']

In [82]:
objeto13.remove('NovoDado2') # Remove o dado especificado da lista
objeto13

['NovoDado1', 'NovoDado4', 'NovoDado3']

In [83]:
objeto13.pop(2) # Coleta (faz um pop) do elemento que ocupa a posição 2

'NovoDado3'

### Tuplas (Tuples)

Tuplas são um tipo de sequencia de dados, que tem como caracteristica ser imutável (você não pode apagar um elemento do meio do Tuple, ou organizar o mesmo por odem alfabetica).

Você diferencia uma tupla de uma lista, chamando o objeto e verificando que o Python apresenta os numeros entre () e não entre [].

A vantagem de usar a Tupla é que ela possui algumas implementações que as listas não atendem. Além disso, por conta da sua rigidez, as Tubplas tendem a ocupar menos espaço na memória da máquina que estiver rodando o código. Dessa forma, se em uma dada aplicação foi igualmente possivel usar Tuplas ou Listas, opte pelas Tuplas para ganhar espaço e performance.

In [84]:
objeto14 = (3,4,5) # A declaração oficial de uma Tupla é feita com a disposição de dados entre ( )
objeto14

(3, 4, 5)

In [85]:
objeto14 = 3,4,5 # Mas numeros soltos também são entendidos como Tupla
objeto14

(3, 4, 5)

In [86]:
objeto15 = 'Argentina','Brasil','Colombia','Dinamarca','Estados Unidos','França' # Textos soltos tambem serão lidos como uma tupple
objeto15

('Argentina', 'Brasil', 'Colombia', 'Dinamarca', 'Estados Unidos', 'França')

In [87]:
type(objeto15)

tuple

Outra forma de manipular esses tipo de dados

In [88]:
(Idade,Altura) = ("20,172").split(',') 
print(Idade)
print(Altura)

20
172

As tuplas tem uma função unica chamada de unpacking, que consiste em você pegar dados de dentro da Tupla e jogar em variáveis. No curso da Let's code foi chamado de unpacking, enquanto no curso da Udemy foi chamado de tuple assignment.

In [89]:
a,b,c = 10,25,40
b

25

In [90]:
a,b,c,d,e,f = objeto15
c

'Colombia'

In [91]:
print(*objeto15) # Você pode imprimir os dados desempacotados com a seguinte sintaxe

Argentina Brasil Colombia Dinamarca Estados Unidos França

# Ler valores na tela
Nesta secção vamos aprender a coletar dados que o usuario informe.
OBS: No meu tutorial eu deixei os codigos "desligado" (usando o # na frente dos nomes de variáveis). Para caso eu queira resetar o Kernell e reler todas as linhas de comando, o codigo não ficar travando nesse ponto

In [92]:
idade = input('Digite a sua idade: ') # lê a idade e salvar em uma variavel chamada idade

Digite a sua idade: 50

Contudo, nesse caso a resposta é lida como um texto,

In [93]:
type(idade)

str

você pode converter da seguinte forma:

In [94]:
idade = int(idade)
type(idade)

int

Você pode melhorar isso, fazendo a leitura diretamente no formato correto

In [95]:
idade = int(input('Digite a sua idade: ')) # lê a idade como número inteiro
type(idade)

Digite a sua idade: 50

int

# Pacotes - Object-oriented programming (OOP)

Carregar pacotes/modulos: No Python temos os modulos que são um arquivo unico do Python que pode ter varias funções pre-escritas. O pacote é algo mais completo, e tem varias pastas a serem adicionadas ao projeto. Portanto, em resumo
* modulos são mini-sets de funções desenvolvidas por você mesmo
* pacotes são o agregado de modulos, que podem ser compartilhada com outras pessoas

In [96]:
import math # Carregar pacote math

In [97]:
math.sqrt( 4 ) # Raiz quadrada(de x)

2.0

In [98]:
math.log( 100 ) # math.log(x) log natural de x

4.605170185988092

In [99]:
math.log(100,10) # OBS: math.log(2,10) é o log de 2 na base 10

2.0

In [100]:
math.factorial(5) # Fatorial

120

In [101]:
help(math.factorial)

Help on built-in function factorial in module math:

factorial(x, /)
    Find x!.

    Raise a ValueError if x is negative or non-integral.

Para instalar um novo pacote utilize o comando a seguir

In [102]:
!pip install NOME_DO_PACOTE

ERROR: Could not find a version that satisfies the requirement NOME_DO_PACOTE
ERROR: No matching distribution found for NOME_DO_PACOTE

Se você quiser importar uma função diretamente (pra chamar ela como você chama no R, faça:

In [103]:
from math import sqrt
sqrt(16)

4.0

Você tambem pode importar uma função ou modulo e renomear ela para sua facilidade

In [104]:
from math import sqrt as minhaFuncao
minhaFuncao(25)

5.0

In [105]:
import math as m
m.sqrt(36)

6.0

Observações (I): Você pode importar todas as funções de um pacote usando o codigo apresentado a seguir. Contudo isso não é recomendado para um programador profissional. Isso porque se você importa tudo de 2 pacotes diferentes, e ambos tiverem uma função com mesmo nome, o Python vai ter que decidir sozinho qual das duas funções usar, e você perde o controle do seu código.

In [106]:
from math import*

Observações (II): Diferença entre função e metodo
* Funções tem varios parametros, exemplo função(a=x, b=y, c=z)
* Metodos é seu proprio parâmetro, exemplo dados.max

# Criar sua função

In [107]:
def quadrado(x):
    y=x**2
    return y
quadrado(10)

100

Você pode usar a estrutura de tupla para apresentar o resultado de uma função:

In [108]:
def Desc_Quadrado(x):
    Area = x**2
    Perimetro = 4*x
    print("A área e perímetro são:")
    return Area, Perimetro
Desc_Quadrado(10)

A área e perímetro são:

(100, 40)

In [109]:
def CalMed (x1=0, x2=0,x3=0):
    Soma = x1 + x2 + x3
    Media = Soma /3
    return Media
CalMed(x1=10, x2=20,x3=50)

26.666666666666668

In [110]:
CalMed(x1=10, x2=20) # Neste caso, se não informamos o valor, o Python usa a referencia que estiver em default

10.0

Se você quiser introduzir uma Tupla na sua função, utilize o caracter * antes do nome do parametro.

In [111]:
def Veja (*args): 
    print(args, type(args))
Veja(10,20,30,40)

(10, 20, 30, 40) <class 'tuple'>

In [112]:
def CalMed (*args): # Apesar de usarmos o *args, você poderia usar qualquer outro nome como *numeros
    Soma = sum(args)
    Media = Soma /len(args)
    return Media
CalMed(10, 20)

15.0

In [113]:
def CalMed (*args,elevado): 
    Soma = sum(args)
    Media = Soma /len(args)
    MediaElv = Media**elevado
    return MediaElv
CalMed(10, 20, elevado=2)

225.0

Se você quiser introduzir um Dicionario na sua função, utilize o caracter ** antes do nome do parametro.

In [114]:
def Veja (**kwargs): 
    print(kwargs, type(kwargs))
Veja(Nome = "João", Sobrenome ="Silva")

{'Nome': 'João', 'Sobrenome': 'Silva'} <class 'dict'>

# Testes logicos

## Testes básicos

In [115]:
5==5 # 5 é igual a 5?

True

In [116]:
5!=5 # 5 é diferente de 5?

False

In [117]:
10>8 # 10 é maior que 8?

True

In [118]:
10>10 # 10 é maior que 10?

False

In [119]:
10>=10 # 10 é maior ou igual a 10?

True

In [120]:
'Bruno' in objeto5 # Tesa se 'Bruno' está contido dentro de objeto5

True

In [121]:
'Bruno' not in objeto5 # Tesa se 'Bruno' não está contido dentro de objeto5

False

## if & elif

OBS: if e else tem que estar na mesma linha vertical

In [122]:
if 5>2:
    print("Sim")
else:
    print("Não")

Sim

In [123]:
def teste10(x):
    if x>10:
        return "Maior"
    elif x < 10:
        return "Menor"
    else:
        return"Igual"

In [124]:
teste10(9)

'Menor'

In [125]:
teste10(10)

'Igual'

In [126]:
teste10(11)

'Maior'

Veja que em vez de return, você pode usar o print

In [127]:
def teste10(x):
    if x>10:
        print ("Maior")
    elif x < 10:
        print ("Menor")
    else:
        print ("Igual")

In [128]:
teste10(9)

Menor

Fazer arvore de decisões com base no que o usuario digitou

In [129]:
idade = int(input('Digite sua idade: '))
dinheiro = float(input('Quanto de dinheiro você tem na carteria? '))

if idade >= 18 and dinheiro >= 2.99:
    print('Você pode comprar uma cerveja.')
elif idade < 18 and dinheiro >= 2.99:
    print('Você até tem dinheiro suficiente para comprar uma cerveja, mas vai precisar esperar', 18-idade, "anos para poder comprar uma cerveja. Que tal um refrigerante?")
else:
    print('Não tem nada para você fazer aqui... até mais.')

Digite sua idade: 50
Quanto de dinheiro você tem na carteria? 2.50
Não tem nada para você fazer aqui... até mais.

# Dicionários

Dicionarios são outra forma de armazenar dados no Python. Estes são pode ser classificados como uma coleção associativa desordenada - i.e. uma coleção de mapeamento. Dentro dos dicionários você terá uma combinação de dois elementos: chaves e valores. Pense num dicionario impresso tradicional. Para entender o significado de palavras você busca um verbete (a palavra ou expressão) e seu significado. No Python as chaves seriam analogas aos verbetes, e os valores analogos ao significado das palavras do dicionario. 

Outro fator importante de destacar a foma de declaração, que deve ser feita pelo uso de { }.

Portanto, agora que você já viu as principais estruturas de dados em Python, tenham em mente que: 
  *  Listas   =    [ ]
  *  Tuplas   =    ( )
  *  Dicionarios = { }

A estrutura do discionário é a mais maleavel dentre as 3 formas (listas, tuplas e dicionario).

In [130]:
dic = { 'Var1':"Cachorro",'Vars':"Gato", 'Var3':"Passarinho", 'Var4':"Peixe"}
dic

{'Var1': 'Cachorro', 'Vars': 'Gato', 'Var3': 'Passarinho', 'Var4': 'Peixe'}

Para adicionar uma nova chave

In [131]:
dic['Var5'] = "Cavalo-marinho"
dic

{'Var1': 'Cachorro',
 'Vars': 'Gato',
 'Var3': 'Passarinho',
 'Var4': 'Peixe',
 'Var5': 'Cavalo-marinho'}

Alterar valor

In [132]:
dic['Var5'] = "Tubarão"
dic

{'Var1': 'Cachorro',
 'Vars': 'Gato',
 'Var3': 'Passarinho',
 'Var4': 'Peixe',
 'Var5': 'Tubarão'}

In [133]:
type(dic)

dict

Forma alternativa (I) para criar dicionário:

In [134]:
Universidade = {'Dep_Ecologia': ["João","Maria"],'Dep_Zoologia': ["Roberta","Pedro","Paulo"] }
Universidade

{'Dep_Ecologia': ['João', 'Maria'],
 'Dep_Zoologia': ['Roberta', 'Pedro', 'Paulo']}

In [135]:
Universidade['Dep_Ecologia']

['João', 'Maria']

Forma alternativa (II) para criar dicionário:

In [136]:
DicionarioNomes={}

In [137]:
DicionarioNomes['A'] = ["Andre","Alan"]
DicionarioNomes['B'] = ["Bianca","Bruno"]
DicionarioNomes['C'] = ["Caio","Carlos"]
DicionarioNomes['D'] = ["Daniele","Dayane"]

Acessar dados dos dicionarios

In [138]:
dic["Var1"]

'Cachorro'

In [139]:
DicionarioNomes

{'A': ['Andre', 'Alan'],
 'B': ['Bianca', 'Bruno'],
 'C': ['Caio', 'Carlos'],
 'D': ['Daniele', 'Dayane']}

In [140]:
print(DicionarioNomes.get('A'))

['Andre', 'Alan']

 A vantagem de usar get é que se não tiver dado não será impresso uma mensagem de erro. Veja a comparação a seguir:

In [141]:
DicionarioNomes['E']

KeyError: 'E'

In [142]:
print(DicionarioNomes.get('E')) # None = output quando não tem nada dentro do objeto requerido

None

Cuidado com as copias

In [143]:
DicionarioNomes2=DicionarioNomes

In [144]:
DicionarioNomes2['A'] = ["Antonio"]

In [145]:
DicionarioNomes2

{'A': ['Antonio'],
 'B': ['Bianca', 'Bruno'],
 'C': ['Caio', 'Carlos'],
 'D': ['Daniele', 'Dayane']}

Mas veja que o valor do primeiro dicionario tambem foi alterado

In [146]:
DicionarioNomes

{'A': ['Antonio'],
 'B': ['Bianca', 'Bruno'],
 'C': ['Caio', 'Carlos'],
 'D': ['Daniele', 'Dayane']}

Para não ter esse tipo de problema use o .copy

In [147]:
DicionarioNomes3=DicionarioNomes2.copy()
DicionarioNomes3['A'] = ["Alaor"]

In [148]:
DicionarioNomes3

{'A': ['Alaor'],
 'B': ['Bianca', 'Bruno'],
 'C': ['Caio', 'Carlos'],
 'D': ['Daniele', 'Dayane']}

In [149]:
DicionarioNomes2

{'A': ['Antonio'],
 'B': ['Bianca', 'Bruno'],
 'C': ['Caio', 'Carlos'],
 'D': ['Daniele', 'Dayane']}

Para atualizar dados e adicionar novos campos, podemos usar a função update

In [150]:
NewData = {
    'A': ['Alex'],
    'E': ['Eliana'],    
}
DicionarioNomes.update(NewData)
DicionarioNomes

{'A': ['Alex'],
 'B': ['Bianca', 'Bruno'],
 'C': ['Caio', 'Carlos'],
 'D': ['Daniele', 'Dayane'],
 'E': ['Eliana']}

Converter dicionario em listas

In [151]:
print(DicionarioNomes.keys()) # Só as chaves

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [152]:
print(DicionarioNomes.values()) # Só os valores

dict_values([['Alex'], ['Bianca', 'Bruno'], ['Caio', 'Carlos'], ['Daniele', 'Dayane'], ['Eliana']])

In [153]:
print(DicionarioNomes.items()) # Todas as Keys + Values

dict_items([('A', ['Alex']), ('B', ['Bianca', 'Bruno']), ('C', ['Caio', 'Carlos']), ('D', ['Daniele', 'Dayane']), ('E', ['Eliana'])])

# Loops: for & while

## for

In [154]:
pares = [2,4,6,8,10,12,14,16,18,20]

In [155]:
for n in pares:
    print (n)

2
4
6
8
10
12
14
16
18
20

Curiosidade, você pode espeficificar na função print, o argumento end que vai definir o que deve ser impresso depois do caracter, no exemplo a seguir vamos imprimir o numero + o caracter "_"

In [156]:
for n in pares:
    print (n, end = "_")

2_4_6_8_10_12_14_16_18_20_

Vamos usar objetos criados anteriormente para mostrar a aplicação com listas, tuplas e dicionarios

In [157]:
objeto4 # Lista

[1, 1, 2, 5, 8, 50]

In [158]:
for n in objeto4:
    print (n)

1
1
2
5
8
50

In [159]:
objeto15 # Tupla

('Argentina', 'Brasil', 'Colombia', 'Dinamarca', 'Estados Unidos', 'França')

In [160]:
for n in objeto15:
    print (n)

Argentina
Brasil
Colombia
Dinamarca
Estados Unidos
França

In [161]:
DicionarioNomes # Dicionario

{'A': ['Alex'],
 'B': ['Bianca', 'Bruno'],
 'C': ['Caio', 'Carlos'],
 'D': ['Daniele', 'Dayane'],
 'E': ['Eliana']}

In [162]:
for n in DicionarioNomes:
    print (n)

A
B
C
D
E

In [163]:
for n in DicionarioNomes:
    print (f'{n}: {DicionarioNomes[n]}')

A: ['Alex']
B: ['Bianca', 'Bruno']
C: ['Caio', 'Carlos']
D: ['Daniele', 'Dayane']
E: ['Eliana']

# While

In [164]:
x=0
while x<=20:
    print("O valor é:\t",x,"\n")
    x=x+2 # esse passo se chama incrementing

O valor é:	 0

O valor é:	 2

O valor é:	 4

O valor é:	 6

O valor é:	 8

O valor é:	 10

O valor é:	 12

O valor é:	 14

O valor é:	 16

O valor é:	 18

O valor é:	 20

In [165]:
s = 0 
while True:
    v = int(input("Digite um numero para somar ou 0 para sair: "))
    if v == 0:
        print("Fim")
        break        
    s += v # simbolodo s+= representa s=s+... no caso s=s+v veja tabela pag 91 do livro de introdução a programação com Python de  Menezes 3th edição
    print("A soma acumulada é:", s)

Digite um numero para somar ou 0 para sair: 10
A soma acumulada é: 10
Digite um numero para somar ou 0 para sair: 1
A soma acumulada é: 11
Digite um numero para somar ou 0 para sair: 0
Fim

Exemplos de operadores de atribuição especial

| Operador | Exemplo | Equivalência |
| --- | --- | --- |
| += | x+=1 |  x=x+1 |
| -= | x-=1 |  x=x-1 |
| *= | x*=2 |  x=x*2 |
| /= | x/=2 |  x=x/2 |
| **= | x**=2 |  x=x**2 |

Forma mais sofisticada de fazer loop

In [166]:
x = [2,3,4,10]
for itens in range(len(x)):
    print(x[itens])

2
3
4
10

In [167]:
list(range(len(x)))

[0, 1, 2, 3]

In [168]:
## Combinacoes de ifs e funções

In [169]:
def contadorMaior10(numeros):
    total = 0 
    for x in numeros:
        if x<10:
            total +=1
    return total

In [170]:
listaNumeros = [1,2,4,8,16,32,64]

In [171]:
contadorMaior10(listaNumeros)

4

# API (Application Programming Interface)
APIs permitem que você traga dados de outras plataformas para sua aplicação. No Python para trabalhar com APIs recomenda-se o uso do pacote requests. Para exemplificar o uso de uma API, vamos ver alguns exemplos de possiveis aplicações para a mesma.

In [172]:
!pip install requests

Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2020.12.5)

In [173]:
import requests as r


## EX. 1 API para converção de moedas

In [174]:
url = 'https://api.exchangerate-api.com/v6/latest' # Acessando a URL é o que chamamos de JSON (Javascript Object Notation), que representa os dados em padrão JavaScript. O padrão xml  já foi usado no passado, mas hoje está em desuso.   
req = r.get(url) # Pega os dados da URL (no momento em que você rodar o código) e joga para dentro do objeto

In [175]:
req.status_code # Ao conferir o status, se estiver tudo certo vai aparecer o numero 200 como resposta

200

In [176]:
dados = req.json()
print(dados)

{'result': 'success', 'provider': 'https://www.exchangerate-api.com', 'documentation': 'https://www.exchangerate-api.com/docs/free', 'WARNING_NEW_ENDPOINT': 'Swap *api.exchangerate-api.com* with *open.er-api.com* for better servers!', 'terms_of_use': 'https://www.exchangerate-api.com/terms', 'time_last_update_unix': 1630022551, 'time_last_update_utc': 'Fri, 27 Aug 2021 00:02:31 +0000', 'time_next_update_unix': 1630110621, 'time_next_update_utc': 'Sat, 28 Aug 2021 00:30:21 +0000', 'time_eol_unix': 0, 'base_code': 'USD', 'rates': {'USD': 1, 'AED': 3.67, 'AFN': 81.57, 'ALL': 103.59, 'AMD': 492.57, 'ANG': 1.79, 'AOA': 639.27, 'ARS': 97.46, 'AUD': 1.38, 'AWG': 1.79, 'AZN': 1.7, 'BAM': 1.66, 'BBD': 2, 'BDT': 85.27, 'BGN': 1.66, 'BHD': 0.376, 'BIF': 1977.92, 'BMD': 1, 'BND': 1.35, 'BOB': 6.89, 'BRL': 5.23, 'BSD': 1, 'BTN': 74.16, 'BWP': 11.25, 'BYN': 2.51, 'BZD': 2, 'CAD': 1.26, 'CDF': 1988.5, 'CHF': 0.917, 'CLP': 783.88, 'CNY': 6.48, 'COP': 3878.55, 'CRC': 621.17, 'CUC': 1, 'CUP': 25.75, 'CVE': 93.72, 'CZK': 21.76, 'DJF': 177.72, 'DKK': 6.34, 'DOP': 56.91, 'DZD': 135.51, 'EGP': 15.71, 'ERN': 15, 'ETB': 45.61, 'EUR': 0.85, 'FJD': 2.1, 'FKP': 0.728, 'FOK': 6.34, 'GBP': 0.728, 'GEL': 3.12, 'GGP': 0.728, 'GHS': 6.04, 'GIP': 0.728, 'GMD': 52.08, 'GNF': 9812.27, 'GTQ': 7.73, 'GYD': 209.33, 'HKD': 7.79, 'HNL': 23.77, 'HRK': 6.4, 'HTG': 97.95, 'HUF': 297.43, 'IDR': 14553.03, 'ILS': 3.24, 'IMP': 0.728, 'INR': 74.16, 'IQD': 1460.62, 'IRR': 41964.28, 'ISK': 126.25, 'JMD': 152.73, 'JOD': 0.709, 'JPY': 110.1, 'KES': 109.71, 'KGS': 84.71, 'KHR': 4083.3, 'KID': 1.38, 'KMF': 418.14, 'KRW': 1169.35, 'KWD': 0.3, 'KYD': 0.833, 'KZT': 426.52, 'LAK': 9569.22, 'LBP': 1507.5, 'LKR': 200.06, 'LRD': 171.77, 'LSL': 14.93, 'LYD': 4.53, 'MAD': 8.94, 'MDL': 17.69, 'MGA': 3917.18, 'MKD': 52.45, 'MMK': 1645.82, 'MNT': 2855.92, 'MOP': 8.02, 'MRU': 36.17, 'MUR': 42.8, 'MVR': 15.35, 'MWK': 811.52, 'MXN': 20.34, 'MYR': 4.2, 'MZN': 63.96, 'NAD': 14.93, 'NGN': 424.93, 'NIO': 35.1, 'NOK': 8.82, 'NPR': 118.66, 'NZD': 1.44, 'OMR': 0.384, 'PAB': 1, 'PEN': 4.09, 'PGK': 3.53, 'PHP': 49.98, 'PKR': 166.11, 'PLN': 3.89, 'PYG': 6993.97, 'QAR': 3.64, 'RON': 4.19, 'RSD': 99.96, 'RUB': 74.09, 'RWF': 1007.74, 'SAR': 3.75, 'SBD': 7.96, 'SCR': 14.14, 'SDG': 442.67, 'SEK': 8.7, 'SGD': 1.35, 'SHP': 0.728, 'SLL': 10332.81, 'SOS': 579.08, 'SRD': 21.45, 'SSP': 177.72, 'STN': 20.82, 'SYP': 1482.11, 'SZL': 14.93, 'THB': 32.77, 'TJS': 11.34, 'TMT': 3.5, 'TND': 2.79, 'TOP': 2.25, 'TRY': 8.38, 'TTD': 6.78, 'TVD': 1.38, 'TWD': 27.93, 'TZS': 2316.89, 'UAH': 26.77, 'UGX': 3536.36, 'UYU': 42.84, 'UZS': 10695.15, 'VES': 4126727.78, 'VND': 22842.42, 'VUV': 111.91, 'WST': 2.55, 'XAF': 557.53, 'XCD': 2.7, 'XDR': 0.704, 'XOF': 557.53, 'XPF': 101.43, 'YER': 250.72, 'ZAR': 14.93, 'ZMW': 16.49}}

In [177]:
ValorReais = float(input('Informe o valor em R$ a ser convertido: '))
cotacao = dados['rates']['BRL']
print(f'R${ValorReais} em dólares valem US$ {(ValorReais/cotacao):.3}')

Informe o valor em R$ a ser convertido: 100
R$100.0 em dólares valem US$ 19.1

## EX. 2 API para coleta de endereço-CEP

In [178]:
url = 'https://viacep.com.br/ws/70100000/json'
req = r.get(url)

In [179]:
req.status_code # Ao conferir o status, se estiver tudo certo vai aparecer o numero 200 como resposta

200

In [180]:
dados = req.json()
print(dados)

{'cep': '70100-000', 'logradouro': 'Praça dos Três Poderes', 'complemento': '', 'bairro': 'Zona Cívico-Administrativa', 'localidade': 'Brasília', 'uf': 'DF', 'ibge': '5300108', 'gia': '', 'ddd': '61', 'siafi': '9701'}

In [181]:
dados['logradouro']

'Praça dos Três Poderes'

In [182]:
def localiza_end(cep):
    url = 'https://viacep.com.br/ws/{}/json'.format(cep)
    req = r.get(url) 
    dados = req.json()
    print(dados['logradouro'])

In [183]:
localiza_end('70910900')

Campus Universitário Darcy Ribeiro

In [184]:
localiza_end('01109010')

Rua Pedro Vicente

## Dados sobre linhas de telefone

In [185]:
!pip install phonenumbers

Requirement already satisfied: phonenumbers in c:\programdata\anaconda3\lib\site-packages (8.12.31)

In [186]:
import phonenumbers
from phonenumbers import geocoder, carrier

NumeroCru = input('Digite o telefone no formato +551140041234: ')

NumeroTelefone = phonenumbers.parse(NumeroCru)

Empresa = carrier.name_for_number(NumeroTelefone, 'pt') # Encontre a empresa telefonica dessa linha

Localizacao = geocoder.description_for_number(NumeroTelefone, 'pt') # Encontre a localidade de registro dessa linha

print("Este número é da empresa:", Empresa)
print("A localização desta linha é:", Localizacao)

Digite o telefone no formato +551140041234: +553538291122
Este número é da empresa:
A localização desta linha é: Lavras - MG